@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer base{
    html{
        font-family: 'Poppins', sans-serif;
    }
    body{
        background: white;
        overflow-x: hidden;
    }
}

@layer components {
    .input-box{
        @apply w-full text-sm bg-cyan-600/5 rounded px-5 py-3 mb-4 outline-none;
    }
    .btn-primary {
        @apply w-full text-sm font-medium text-white bg-cyan-600 shadow-lg shadow-cyan-200/50 p-[10px] rounded-full my-1 hover:bg-cyan-100 hover:text-primary;
    }
    .btn-light {
        @apply bg-cyan-50 text-primary shadow-cyan-100/0 border border-cyan-100 hover:bg-primary hover:text-white;
    }    
}